/* Filter switches */
/* The switch - the box around the slider */
.switch {
  @apply h-6 w-40 relative inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  @apply opacity-0 w-0 h-0;
}

/* The slider */
.slider {
  @apply bg-fg-white-95 absolute cursor-pointer top-0 left-0 right-0 bottom-0 transition duration-300;
}

.slider:before {
  @apply h-6 w-1/2 bg-fg-black-25 absolute transition duration-300;
  content: "";
}

input:checked + .slider {
  @apply bg-fg-white-95;
}

input:focus + .slider {
  @apply shadow;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  @apply rounded-xl;
}

.slider.round:before {
  @apply rounded-xl;
}

/* New styles for text */
.middleLabelText {
  @apply relative text-center text-xs;
  transition: color 0.3s;
}

.rightLabelText {
  @apply relative bottom-0.5 text-xs leading-6;
  transition: color 0.3s;
}

.upVotes {
  @apply text-white;
}

.downVotes {
  @apply text-black;
}

.popularityCheckBox:checked + .slider + div > div > .upVotes {
  @apply text-black;
}

.popularityCheckBox:checked + .slider + div > div > .downVotes {
  @apply text-white;
}

.newest {
  @apply text-white;
}

.oldest {
  @apply text-black;
}

.datePostedCheckBox:checked + .slider + div > div > .newest {
  @apply text-black;
}

.datePostedCheckBox:checked + .slider + div > div > .oldest {
  @apply text-white;
}
