@tailwind base;
@tailwind components;
@tailwind utilities;

#leftSpace {
    @apply bg-fg-white-95;
    flex-basis: 26%
}

.groupAffliliates {
    @apply font-K2D text-fg-black-30;
    font-size: 10px;
    line-height: 16px;
}

.orgStances {
    @apply font-K2D text-fg-black-30;
    font-size: 10px;
    line-height: 16px;
}

/* Split pane section */
.vertical-split-pane {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
  
.pane {
    overflow: auto;
    box-sizing: border-box;
}
  
.resizer {
    cursor: ns-resize;
    user-select: none;
}